<form class="example-form" [formGroup]="loginForm" (ngSubmit)="signIn()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="emailFormControl">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" formControlName="passwordFormControl">
  </mat-form-field>
</form>

<button mat-button (click)="signUp()">Sign Up</button>
<button mat-button (click)="signIn()">Sign In</button>
<button mat-button (click)="getProtected()">Get Protected</button>
<button mat-button (click)="facebookLogin()">Facebook Login</button>
<button mat-button (click)="twitterLogin()">Twitter Login</button>
<button mat-button (click)="googleLogin()">Google Login</button>
